
<!--For posttracking html I have designed the views in table for good visibility  -->
<div class="container">
	<h2>Posting </h2>
			<div id="text-table">
				<table border="0">
					<tr>
						<td>
							<textarea id="myTextarea" rows="20" cols="45">Please enter your Post here...and click 'Create Post' button</textarea>
						</td>
					</tr>

					<tr>
						<td>
							<div ng-app="myApp" ng-controller="PostController">
							
							<button ng-click="addPost()" class="postbtn"> Create Post</button>
							
							</div>
							
						</td>
					</tr>
			</table>
		</div>
</div>

